@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container h3 {
  color: green;
  margin: 2px;
}

footer p{
  color:"white";
}

.link-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px; 
}
